*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // display: block;
};
.container{
    width: 100vw;
    padding-left: 7vw;
    padding-right: 7vw;
};
// body{
//     // background-color: aquamarine;
// }

.main-text{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom:3vh;
    margin-top:3vh;
}
.lesson-container{
    box-shadow: 0 5px 10px rgba(0,0,0,0.25),5px 0px 30px rgba(170, 169, 169, 0.068);
    display: 'flex';
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
    background-color: rgba(166, 207, 219, 0.103);
    border-radius: 1px;
    box-shadow: inset;
    max-height: 20vh;
}
.image-of-education{
    width: 100%;
    // height: 100%;
    object-fit: cover;
    // padding-bottom: 3vh;
}
.education-text {
    h2{
        font-size: 2em;
    }
    
    font-size: 1.4em;
    padding-top: 3vh;
    padding-bottom: auto;
    padding-left: 3vw;
    padding-right: 3vw;
    flex: 5 1 50vw;
    margin-bottom: 3vh;
   
}
.text-block{
    min-height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.image-container{
    flex: 1 5 20vw;
    height: 100%;
    overflow-y: hidden;
    min-height: 30vh;
    max-height: 35vh;
    
}
